@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.tile-container {
  position: relative;
  padding: 4px;
  max-width: 125px;
  cursor: pointer;
}

.tile {
  height: 100%;
}

.scale {
  transform: scale(1.05);
}

.tile-img {
  border-radius: 10px;
  border: 2px solid #DFD298;
  transition: all 200ms ease-in-out;
}

.responsive-img {
  width: 100%;
  height: auto;
}
