.social-links {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.social-links > div {
  padding: 8px;
}

.coder-links > a, .artist-links > a {
  color: #6EC7BB;
  padding: 8px;
}

.social-links > a, .artist-links > a {
  cursor: pointer;
}

.social-text {
  font-size: 0.9em;
  color: #555;
}
